/* EXO2-REGULAR - LATIN */
@font-face {
  font-family: 'Exo 2' sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Exo2-Regular.eot');
  src: local('Exo 2'), local('Exo2-Regular'),
    url('../fonts/Exo2-Regular')
      format('embedded-opentype'),
    url('../fonts/Exo2-Regular') format('woff2'),
    url('../fonts/Exo2-Regular') format('woff'),
    url('../fonts/Exo2-Regular') format('truetype'),
    url('../fonts/Exo2-Regular.svg#Exo2') format('svg');
}
